__pycache__/
*.py[cod]
*.pyd
*.swp
*.swo

*.egg
*.egg-info/
.eggs/
pip-wheel-metadata/

build/
dist/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.venv/
venv/

.DS_Store
.vscode/
context_portal/
